.weatherCard-title {
    font-size: 38px !important;
}

.weatherCard-body {
    font-size: 14px !important;
    text-align: center !important;
}


.weatherCard-temp{
    font-size: 40px !important;
    text-align: center !important;
}